body {
  padding: 0;
  margin: 0;
  background: #222222;
}

h1 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 25px;
  padding-bottom: 0px;
}

h2 {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
}

.links {
  display: inline-block;
  padding-left: 45%;
  padding-right: 45%;
}

ul.links {
  list-style-type: none;
}

a.fa {
  display: flex;
  padding-bottom: 20px;
  padding-left: 35%;
  font-size: 80px;
  color: #6d188b;
  text-align: center;
  text-decoration: none;
}

footer.cred {
  align-self: flex;
  text-align: center;
  color: #ffffff;
}
