:root {
  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background: #222222;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 25px 25px 0px;
}

h2 {
  font-size: 25px;
  text-align: center;
  padding: 0px 10px;
}

.links {
  padding-left: 45%;
  padding-right: 45%;
  display: inline-block;
}

ul.links {
  list-style-type: none;
}

li a.fa {
  padding-bottom: 20px;
  padding-left: 35%;
  font-size: 80px;
  color: #3647e4;
  text-align: center;
  text-decoration: none;
}

a.fa:hover {
  opacity: 0.6;
  color: #fd2e51;
}

footer.cred {
  position: fixed;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer.cred a {
  color: #3647e4;
}

footer.cred a:hover {
  opacity: 0.6;
}
