.aboutMe {
  .avatar img {
    object-position: top;
  }
}

.springLink {
  color: rgb(55, 131, 124) !important;
  text-decoration: underline 2px !important;
}

.social_links {
  a {
    margin: 0 10px 0 10px;
    aspect-ratio: 1;

    &:hover {
      color: var(--primary-light);
    }
  }
}

.bio {
  width: 80%;

  .bioText {
    text-align: center;
  }
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jobItem {

  columns: 2;

  .jobDetails {
  }

  .jobDate {
    text-align: end;
  }
}