footer.feet {
  padding: 10px 0;
  border-top: 1px solid var(--nextui-colors-gray300);
  background-color: var(--nextui-colors-gray200);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;

  .left {
    float: left;
    padding: 0 15px 0 15px;
  }

  .right {
    float: right;
    padding: 0 15px 0 15px;
  }
}
