@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: var(--nextui-colors-gray100);
  --primary: var(--nextui-colors-blue500);
  --primary-dark: var(--nextui-colors-blue700);
  --primary-light: var(--nextui-colors-blue300);
  --accent: var(--nextui-colors-cyan500);
  --open-sans-font: "Open Sans", sans-serif;
  --nextui-fonts-sans: var(--open-sans-font) !important;
  --nextui-colors-background: var(--background) !important;
}

.aboutMe {
  .avatar img {
    object-position: top;
  }
}

.social_links {
  a {
    margin: 0 10px 0 10px;
    aspect-ratio: 1;
    &:hover {
      color: var(--primary-light);
    }
  }
}
