:root {
  --background: #373f47ff;
  --primary: #7f95d1ff;
  --primary-dark: rgb(101, 131, 214);
  --accent: #d3f6dbff;
}

// Pick a font for the whole website

.aboutMe {
  .avatar img {
    object-position: top;
  }
}
