.pageContainer {
  min-height: 80vh;
  margin-bottom: 20px;
}

.card {
  // height: auto;

  .card_main {
    padding: 0;
    // height: 100%;
    text-align: center;

    .card_half1 {
      .card_img {
        border-radius: 0;
      }
    }

    .card_half2 {
      padding: 0;
      margin-bottom: 20px;

      .card_title {
        padding-right: 0;
        flex-wrap: nowrap;
      }

      .card_desc {
        padding: 10px 0px 10px 25px;
      }
    }
  }
}
