.pageContainer {
  min-height: 80vh;
  padding-bottom: 40px;
}

.card {
  .card_main {
    height: 100%;
    padding: 0;
    text-align: center;

    .card_half1 {
      padding: 0;
      margin-bottom: 10px;

      .card_title {
        flex-wrap: nowrap;
      }

      .card_desc {
        margin: 10px;
      }
    }

    .card_half2 {
      padding: 0;
      align-self: flex-end;

      .card_img {
        border-radius: 0;
      }
    }
  }
}
